@import url(./vars.css);
@import url(./onboard.css);
@import url(/fonts/fonts.css);

html,
body {
  padding: 0;
  margin: 0;
  font-family: DM Sans, sans-serif;
  background-color: var(--color-background-paper);
}

main {
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font: inherit;
}

:focus-visible {
  outline: 5px auto Highlight;
  outline: 5px auto -webkit-focus-ring-color;
}

* {
  box-sizing: border-box;
}

:root {
  --header-height: 52px;
  --footer-height: 67px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.illustration-main-fill {
  fill: var(--color-primary-main);
}

.illustration-light-fill {
  fill: var(--color-border-main);
}

.illustration-background-fill {
  fill: var(--color-logo-background);
}

.illustration-background-warning-fill {
  fill: var(--color-warning-background);
}

.illustration-background-paper-fill {
  fill: var(--color-background-paper);
}

.illustration-secondary-light-fill {
  fill: var(--color-secondary-light);
}

.illustration-text-primary-fill {
  fill: var(--color-text-primary);
}

/* Note: a fallback `stroke` property must be on the svg to work */
.illustration-main-stroke {
  stroke: var(--color-primary-main);
}

.illustration-light-stroke {
  stroke: var(--color-border-main);
}

.illustration-very-light-stroke {
  stroke: var(--color-border-light);
}

.illustration-background-stroke {
  stroke: var(--color-logo-background);
}

@media (max-width: 599.95px) {
  .sticky {
    position: sticky;
    right: 0;
    background: var(--color-background-paper);
  }
}

body.beamerAnnouncementBarTopActive {
  padding-top: 0 !important;
}

#beamerLastPostTitle {
  left: 120px !important;
}
.MuiAccordion-root {
  border-radius: 24px !important;
  border: 1px solid #F6F6F8 !important;
  background-color: #FCFCFD !important;
}

/* Cuando está expandido */
.MuiAccordion-root.Mui-expanded {
  border-color: #47D3FF !important;
  background-color: #DBF6FF !important;
}

/* Summary cerrado */
.MuiAccordionSummary-root {
  background-color: #F6F6F8 !important;
}

/* Summary expandido */
.MuiAccordionSummary-root.Mui-expanded {
  background-color: #DBF6FF !important;
}

/* Detalles */
.MuiAccordionDetails-root {
  background-color: #FFFFFF !important;
}


/* Anula el hover de todas las filas de todas las tablas de MUI */
.MuiTableRow-root:hover {
  background-color: transparent !important;
}

.MuiPaper-root{
  border-radius: 12px;
  
}