@import url(./vars.css);
@import url(./onboard.css);
@import url(/fonts/fonts.css);

html,
body {
  padding: 0;
  margin: 0;
  font-family: DM Sans, sans-serif;
  background-color: var(--color-background-paper);
}

main {
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font: inherit;
}

:focus-visible {
  outline: 5px auto Highlight;
  outline: 5px auto -webkit-focus-ring-color;
}

* {
  box-sizing: border-box;
}

:root {
  --header-height: 52px;
  --footer-height: 67px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.illustration-main-fill {
  fill: var(--color-primary-main);
}

.illustration-light-fill {
  fill: var(--color-border-main);
}

.illustration-background-fill {
  fill: var(--color-logo-background);
}

.illustration-background-warning-fill {
  fill: var(--color-warning-background);
}

.illustration-background-paper-fill {
  fill: var(--color-background-paper);
}

.illustration-secondary-light-fill {
  fill: var(--color-secondary-light);
}

.illustration-text-primary-fill {
  fill: var(--color-text-primary);
}

/* Note: a fallback `stroke` property must be on the svg to work */
.illustration-main-stroke {
  stroke: var(--color-primary-main);
}

.illustration-light-stroke {
  stroke: var(--color-border-main);
}

.illustration-very-light-stroke {
  stroke: var(--color-border-light);
}

.illustration-background-stroke {
  stroke: var(--color-logo-background);
}

@media (max-width: 599.95px) {
  .sticky {
    position: sticky;
    right: 0;
    background: var(--color-background-paper);
  }
}

body.beamerAnnouncementBarTopActive {
  padding-top: 0 !important;
}

#beamerLastPostTitle {
  left: 120px !important;
}

.MuiAccordion-root.Mui-expanded {
  border-color: #47d3ff !important;
  background-color: #dbf6ff !important;
}

.MuiAccordionSummary-root {
  background-color: #fff !important;
}

.MuiAccordionSummary-root.Mui-expanded {
  background-color: #dbf6ff !important;
}

.MuiAccordionDetails-root {
  background-color: #ffffff !important;
}

.MuiTableRow-root:hover {
  background-color: transparent !important;
}

.MuiPaper-root {
  border: none;
}

._1n3pr301 {
  font-family: 'DM Sans' !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  line-height: 24px !important;
  letter-spacing: 0.08px;
  display: flex !important;
  height: 40px !important;
  padding: 15px 16px !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 8px !important;
  align-self: stretch !important;
  border-radius: 6px !important;
  background-color: #000 !important;
  color: #fff !important;
  text-transform: none !important;
  font-weight: 600 !important;
  padding: 12px 24px !important;
  border-radius: 6px !important;
  min-width: 200px;
}

._1n3pr301 svg:first-of-type {
  display: none !important;
}

._1n3pr301:hover {
  background-color: #222 !important;
}
