.badgeContainer {
  cursor: pointer;
  border-radius: 12px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  flex-direction: column;
  width: 100%;
  will-change: transform, opacity;
  order: 0;
}

.badgeContainer:hover {
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
}

@media (max-width: 600px) {
  .badgeContainer {
    width: 100%;
  }
}

.badgeContainerInfo {
  width: clamp(200px, 100%, 250px);
  cursor: pointer;
}

.badgeContainer > div {
  padding: 0;
  width: 100%;
}

.hearth {
  position: absolute;
  top: 0;
  right: 0;
}

.unclaimed {
  opacity: 0.5;
}

.heartIcon {
  opacity: 0;
  visibility: hidden;
  width: 0;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 !important;
  min-width: 0 !important;
}

.badgeContainer:hover .heartIcon,
.badgeContainer.favorited .heartIcon {
  opacity: 1;
  visibility: visible;
  width: 32px;
}

.chainIcon {
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.badgeContainer:hover .chainIcon,
.badgeContainer.favorited .chainIcon {
  transform: translateX(-8px);
}

.badgeContainer.favorited {
  order: -1;
}

.badgeContainer.favorited.completed {
  order: 0;
}

.topBar {
  position: absolute;
  top: 0px;
  display: flex;
  align-items: center;
  gap: 1;
  z-index: 2;
  width: 100%;
  padding: 6px 12px;
}

.topBarLeft {
  display: flex;
  align-items: center;
  gap: 1;
}

.topBarRight {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.rewardsContainer {
  position: relative;
  cursor: pointer;
}

.tiersTooltip {
  position: absolute;
  bottom: calc(100% + 8px);
  left: 0;
  right: 0;
  transform: none;
  background-color: #f6f6f8;
  border: 1px dashed #e1e2ea;
  border-radius: 12px;
  padding: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
  z-index: 10;
  width: 100%;
}

.rewardsContainer:hover .tiersTooltip {
  opacity: 1;
  visibility: visible;
}

.tierRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}
