.badgeContainer {
  border-radius: 12px;
  width: clamp(200px, 100%, 250px);
  border: 1px solid #e1e2ea;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.badgeContainerInfo {
  width: clamp(200px, 100%, 250px);
  cursor: pointer;
}

.badgeContainer > div {
  padding: 0;
  width: 100%;
}

.hearth {
  position: absolute;
  top: 0;
  right: 0;
}

.unclaimed {
  opacity: 0.5;
}
