.badgeContainer {
  border-radius: 12px;
  width: clamp(200px, 100%, 250px);
  border: 1px solid #e1e2ea;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  background-color: #fcfcfd;
  transition: background-color 0.3s ease-in-out;
}

.badgeContainer:hover {
  background-color: #f6f6f8;
}

@media (max-width: 600px) {
  .badgeContainer {
    width: 100%;
  }
}

.badgeContainerInfo {
  width: clamp(200px, 100%, 250px);
  cursor: pointer;
}

.badgeContainer > div {
  padding: 0;
  width: 100%;
}

.hearth {
  position: absolute;
  top: 0;
  right: 0;
}

.unclaimed {
  opacity: 0.5;
}
